.activity-card {
    width: 12rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
    transition: 0.5s;
    margin: 1rem;
}

.activity-card:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
}

.activity-card .activity-title {
    font-size: 1.25rem;
}